body {
     background-color:#606b60;
}
 #title-box {
     display: flex;
     justify-content: center;
     margin-top:50px;
     width: 100%;
     height: 100%;
}
 #title {
     margin-bottom:100px;
     width:43%;
     height:20%;
     user-drag: none;
     user-select: none;
     -moz-user-select: none;
     -webkit-user-drag: none;
     -webkit-user-select: none;
     -ms-user-select: none;
}
 #icon-button {
     position:fixed;
     left:92%;
     top:7%;
     border-radius:50px;
     position:fixed;
     width:4%;
     height:7.5%;
     background-color:#41c93a;
     border-color:#41c93a;
     color:#606b60;
}
 #user-info-box {
     position:fixed;
     top:16%;
     left:88%;
     margin-right:20px;
     visibility:hidden;
     z-index:2;
     box-shadow:rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
     border:2px solid white;
     border-radius:8px;
     background-color:#606b60;
     border-color:#606b60;
}
 #user-info-box-logout-button {
     background-color:#34f72a;
     border-color:#34f72a;
     color:#606b60;
     margin-bottom:5px;
     margin-top:10px;
     margin-left:3px;
     font-size:13px;
}
 #user-info-box-logout-button:hover {
     background-color:#606b60;
     border-color:#34f72a;
     color:#34f72a
}
 #user-info-box-pre-delete-button {
     background-color:#34f72a;
     border-color:#34f72a;
     color:#606b60;
     margin-bottom:5px;
     margin-left:3px;
     font-size:13px;
}
 #user-info-box-pre-delete-button:hover {
     background-color:#606b60;
     border-color:#34f72a;
     color:#34f72a
}
 #user-info-box-delete-button {
     background-color:red;
     border-color:black;
     color:black;
     margin-left:3px;
     visibility:hidden;
     position:absolute;
     font-size:13px;
}
 #user-info-box-delete-button:hover {
     background-color:darkred;
     border-color:black;
     color:black
}
 #user-info-box-text {
     color:#34f72a;
     margin-top:5px;
     margin-left:5px;
}
 #password-input {
     background-color:#606b60;
     border-color:#34f72a;
     color:#34f72a;
}
 #repeat-password-input {
     background-color:#606b60;
     border-color:#34f72a;
     color:#34f72a;
}
 #main-password-holder {
     display:flex;
     justify-content:center;
 }
 #main-password {
     left:35%;
     top:30%;
     width:40%;
}
 #username-input {
     visibility:hidden;
}
 #main-password-label {
     color:#34f72a;
}
 #main-repeat-password-label {
     margin-top:40px;
     color:#34f72a;
}
 #main-password-button {
     background-color:#34f72a;
     border-color:#34f72a;
     color:#606b60;
     margin-top:28px;
}
 #main-password-button:hover {
     background-color:#606b60;
     border-color:#34f72a;
     color:#34f72a;
}
 #main-back-button {
     background-color:#34f72a;
     border-color:#34f72a;
     color:#606b60;
     margin-top:28px;
}
 #main-back-button:hover {
     background-color:#606b60;
     border-color:#34f72a;
     color:#34f72a;
}
 @media only screen and (max-width: 1100px) {
  #user-info-box {
       margin-right:0px;
       left:86%;
  }
}
 @media only screen and (min-width: 1300px) {
  #user-info-box {
       margin-right:0px;
       left:90%;
  }
}
 @media only screen and (min-width: 1600px) {
  #user-info-box {
       left:91%;
  }
  #icon-button {
         width:3%;
         height:6.5%;
  }
  #user-info-box-change-password-button {
         font-size:11.5px;
  }
}
::-webkit-scrollbar{

    -webkit-appearance: none;
    width: 7px;

}

::-webkit-scrollbar-thumb {

    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #707070;
}

::-webkit-scrollbar-thumb:hover {
  background: #355cc9;
}
::-webkit-overflow-scrolling:touch; {
    background:#707070;
    width: 5px;
}
 #loading-spinner {
   visibility: hidden;
}
 .spinner {
   position: fixed;
   top: 50%;
   left:47%;
   width:88px;
   height:88px;
   border-radius:50%;
   background:radial-gradient(farthest-side,#34f72a 94%,#0000) top/14.1px 14.1px no-repeat,
          conic-gradient(#0000 30%,#34f72a);
   -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 14.1px),#000 0);
   animation: spinner-c7wet2 1s infinite linear;
}
 @keyframes spinner-c7wet2 {
   100% {
      transform:rotate(1turn);
   }
}
