<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"/>
<link rel="stylesheet" th:href="@{/css/changePassword.css}"/>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <title>Notes service Password</title>
    <link rel="icon" type="image/png" th:href="@{/images/title.png}"/>
</head>
<body th:us="${username}" onload="init()">
<div id="title-box">
    <img th:src="@{/images/title.png}" id="title"/>
</div>
<button class="btn btn-danger" id="icon-button" onclick="openInfo()">
</button>
<div id="user-info-box" class="pull-right">
    <strong th:text="${username}" id="user-info-box-text"></strong>
    <form th:method="post" th:action="@{/logout}">
        <button id="user-info-box-logout-button" class="btn btn-danger" type="submit">logout</button>
    </form>
    <button id="user-info-box-pre-delete-button" class="btn btn-danger" type="button" onclick="showDeleteButton()">delete user</button>
    <form th:method="post" th:action="@{/user/delete}">
        <button id="user-info-box-delete-button" class="btn btn-danger" type="submit">delete user???</button>
    </form>
</div>
<div id="main-password-holder">
    <div id="main-password" class="text-center align-content-center">
        <div class="alert alert-danger" th:if="${param.error}">
            Password cannot be blank or null! Please try again.
        </div>
        <div class="alert alert-danger" th:if="${param.invalidPassword}">
            Password cannot be shorter than 8 characters, longer than 250 characters or contain whitespaces!
            Please try again.
        </div>
        <div class="alert alert-danger" th:if="${param.passwordMismatch}">
            Passwords do not match. Please try again.
        </div>
        <div class="alert alert-success" th:if="${param.changeSuccess}">
            Password has been changed successfully!
        </div>
        <div class="alert alert-info">
            Account cannot be restored if password is forgotten!
        </div>
        <!-- Form for change of password -->
        <form th:action="@{/user/change-password}" th:object="${UserDto}" th:method="post">
            <input type="text" id="username-input" class="form-control" th:field="*{username}"/>
            <label id="main-password-label" class="form-label" for="password-input">New password</label>
            <input type="password" id="password-input" class="form-control" th:field="*{password}"/>
            <label id="main-repeat-password-label" class="form-label" for="password-input">Repeat your new password</label>
            <input type="password" id="repeat-password-input" class="form-control" th:field="*{repeatingPassword}"/>
            <button id="main-password-button" class="btn btn-success pull-right" type="submit"
                    onclick="loading(this.getAttribute('user'))" th:user="${username}">Change</button>
        </form>
        <a href="/notes/panel">
            <button id="main-back-button" class="btn btn-primary pull-left" type="button">Go back</button>
        </a>
        <div class="spinner" id="loading-spinner"></div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
<script th:src="@{/js/changePassword.js}"></script>
</body>
</html>